<h1>New posts</h1>

<%= form_with model: @article, local: true do |form|%>
  <%= form.label 'Title'%>
  <%= form.text_field :title%>
  <%= form.label 'Body'%>
  <%= form.text_area :body%>
  <%= form.submit 'Submit'%>
<% end%>
